@page "{handler?}"
@model NeuModern.Areas.Identity.Pages.Account.OtpModel
@{
    ViewData["Title"] = "Verify OTP";
}
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="OnPostAsync">
            <input type="hidden" name="email" value="@Model.Email" />
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

            <div class="form-group">
                <label asp-for="TwoStepModel.TwoFactorCode"> Enter OTP Here</label>
                <input asp-for="TwoStepModel.TwoFactorCode" class="form-control" />
                <span asp-validation-for="TwoStepModel.TwoFactorCode" class="text-danger"></span>
            </div>

            @if (!string.IsNullOrEmpty(Request.Query["errorMessage"]))
            {
                <div class="alert alert-light  text-danger" role="alert">
                    @Request.Query["errorMessage"]
                </div>
            }
            <button type="submit" class="btn btn-primary mt-2">Verify OTP</button>

        </form>
        <form method="post" asp-page-handler="ResendOTP">
            <input type="hidden" name="email" value="@Model.Email" />
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

            <button type="submit" class="btn btn-primary mt-2">Resend OTP</button>
        </form>

    </div>
</div>
