@model ApplicationUser

<div class="container">
    <div class="card">
        <div class="card-header bg-info text-light ml-0">
            <div class="container row">
                <div class="col-10 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; USER DETAILS
                </div>
                <div class="col-5 col-md-4 offset-md-2 text-right">
                    <a asp-controller="User" asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Index</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row my-1">
                            <div class="col-3">Name </div>
                            <div class="col-9">: @Model.Name</div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Email </div>
                            <div class="col-9">: @Model.Email</div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Phone Number</div>
                            <div class="col-9">: @Model.PhoneNumber</div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Address Line </div>
                            <div class="col-9">: @Model.StreetAddress <br>@Model.City<br>@Model.State</br>@Model.PostalCode</br></div>

                        </div>


                    </div>
                    <form method="post" id="blockForm" action="/Admin/User/Block">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-danger">Block</button>
                    </form>
                    <br />
                    <form method="post" class="mt-3" id="unblockForm" action="/Admin/User/Unblock">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-success">Unblock</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>